/*==========================================*/
/*  Login  */
body{
    margin: 0 auto;
}



/*========================================*/



/* Teste
.W{
    background-color: blanchedalmond;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.S{
    background-color: brown;
    color: white;
    width: 400px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}*/
